<footer class="bg-dark mt-auto py-5">
	<div class="container">
		<ul class="nav float-right">
			<li class="nav-item">
				<a class="nav-link" href="#">Github</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Source</a>
			</li>
		</ul>
		<p>Copyright Zach Manabat 2019.</p>
	</div>
</footer>